html, body {
  margin: $gutter auto;
  padding: 0;
  background-color: $color__background;
  background-image: url('../assets/paper-bg.jpg');
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;

  @include media-query__tablet() {
    margin-top: 0;
  }

  @include typography-body();

}

.container {
  position: relative;
  display: block;


  margin: auto;
  background-color: #9D4D56;
  background-image: url('../assets/letter-bg.jpg');

  @include container-width();
  @include content-padding();
}

.container__content {
  background-color: $color__light;
  @include content-padding();
}