@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x4kykg');
  src:  url('fonts/icomoon.eot?x4kykg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x4kykg') format('truetype'),
    url('fonts/icomoon.woff?x4kykg') format('woff'),
    url('fonts/icomoon.svg?x4kykg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-front-tag-english:before {
  content: "\e902";
}
.icon-travel-heart-circle:before {
  content: "\e900";
}
.icon-travel-heart:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e024";
}
.icon-thermometer:before {
  content: "\e062";
}
.icon-location:before {
  content: "\e070";
}
.icon-map:before {
  content: "\e072";
}
.icon-briefcase:before {
  content: "\e075";
}
.icon-globe:before {
  content: "\e078";
}
.icon-expand:before {
  content: "\e110";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}

