.image-header {
  position: relative;
  overflow: hidden;
  max-height: 450px;
  margin-top: -$gutter--large;
  margin-bottom: $gutter;

  @include box-shadow();
  @include pull-out();

  &__image-wrapper {
    background-color: $color__post-it;

    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__captions {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: $gutter--large + $gutter;
    margin-right: $gutter--large;

    color: $color__text--light;
    background-color: rgba(0, 0, 0, 0.4);

    @include media-query__tablet() {
      margin-left: $gutter;
      margin-right: $gutter;
    }

    @include content-padding();
  }

  &__title {
    margin: 0;
    margin-bottom: $gutter--small;

    @include typography-title();
  }

  &__subtitle {
    margin: 0;

    @include typography-subtitle();
  }
}