@include media-query__tablet() {
  .is-menu-open {
    .navigation-sidebar {
      max-width: 100%;
    }
    .header__control-menu {
      &:before {
        content: $icon__cross;
      }
    }
  }
}


.navigation-sidebar {
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 90;
  max-width: 0;
  overflow: hidden;


  background-color: $color__map;

  transition: max-width 0.5s ease-in-out;
}
