.quote {
  display: block;
  overflow: hidden;

  word-break: break-word;
  background-color: $color__post-it;

  @include pull-out__size-standard();
  @include content-padding();
  @include pull-out('true', 'left');
  @include box-shadow();
  @include typography-body();

  &__body {
    margin: 0;
    margin-bottom: $gutter--small;

    font-size: 24px;
    line-height: 34px;

    &:before {
      content: '"';
      float: left;
      margin-top: 55px;
      margin-right: 5px;
      margin-left: -10px;

      line-height: 0;
      font-size: 140px;
    }

    @include media-query__mobile() {
      font-size: $font-size__body;
      line-height: $font-lineheight__body;

      &:before {
        margin-top: 28px;
        margin-left: -5px;
        font-size: 70px;
      }
    }

  }

  &__author {
    margin: 0;

    font-size: 18px;
    color: $color__text--inactive;

    @include media-query__mobile() {
      font-size: $font-size__body;
      line-height: $font-lineheight__body;

    }
  }
}
